@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body,
#root {
  height: 100%;
  background-color: black;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateX(var(--end-position-x))
      translateY(var(--end-position-y)) scale(1.5) rotate(var(--rotation));
  }
  100% {
    opacity: 0;
    transform: translateX(var(--end-position-x))
      translateY(var(--end-position-y)) scale(1.5) rotate(var(--rotation));
  }
}

.animate-float {
  opacity: 0;
  animation: float var(--float-animation-duration) 1;
  animation-fill-mode: forwards;
}
